@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --red: #c21919;
    --gray: #2c2d2e;
    
}
h2 {
    color: #fff;
}

.gradient-text-blue {
    background: linear-gradient(#9ae8f8, #99ffff,   #fff);
    -webkit-background-clip: text; /* Clip the gradient to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
  }

body {
    background-image: linear-gradient(#000, #4c4c4c);
    /* background-color: #000; */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    
   
}




/* NAVBAR */

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px; 
    z-index: 999;
}

  

.navbar-box {
    background-color: var(--gray);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.menu li {
    display: inline-block;
    margin: 15px;
}

.menu li::after {
    content: '|';
    margin-left: 23px;
    color: var(--red);
}

.menu li a.active {
    color: var(--red);
}

.menu a {
    text-decoration: none;
    color: #fff;

}

.contact {
    display: none;
}

.contact a{
    line-height: 55px;
    text-decoration: none;
    color: #fff;
}



.img-logo {
    width: 40px;
    height: 40px;
    margin-left: 13px;
    margin-top: 10px;
}

.toggle-icon {
    color: var(--red);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 22px;
    display: none;
}



/* WELCOME */


.welcome {

    color: #fff;
    margin-top: 150px;
    display: flex;
	justify-content: center;
    align-items: center;
    gap: 180px;
    
}

.left-welcome {
    text-align: center;

}

.left-welcome h2 {
    font-size: 45px
}

.left-welcome h3 {
    font-size: 25px
}

.left-welcome h4 {
    font-size: 22px
}


.my-img {
    height: 300px;
    border: 2px solid  var(--red);
    
}


.my-img:hover + .behind-box {
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.behind-box {
    width: 230px;
    height: 300px;
    background-color: var(--red);
    position: absolute;
    z-index: -99;
    margin-top: -300px;
    margin-left: 10px;
    transition: all 2000ms linear;
    display: none;
   

}


.welcome-buttons {
    margin-top: 50px;
}


.welcome-buttons .btn {
    
    background-color: var(--gray);
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    margin: 2px;
    color: #fff;
    text-decoration: none;
    
}

.welcome-buttons .active {
    background-color: var(--red);
    color: #fff;
}

/* 
ABOUT ME */

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
    margin-top: 100px;
    gap: 25px;

}

.about-box {
    width: 350px;
    height: 365px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px solid  var(--red); 
    padding: 20px;
    margin-top: 50px;    
}

.about-box p {
    margin-top: 15px;
}


.about-box:hover + .behind-about {
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}


.behind-about {
    height: 350px;
    width: 350px;
    background-color: var(--red);
    position: absolute;
    z-index: -99;
    margin-top: -370px;
    margin-left: -6px;
    border-radius: 15px;
    display: none;
}

.right-about {
    padding: 10px;
}

.timeline-column  {
    border-left: 2px solid var(--red);
}

.timeline-box .timeline-content {
    padding-left: 27px; 
}

.timeline-content .content {
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    margin-bottom: 40px;
    border-left: 12px solid var(--red);
}



.timeline-column .timeline-box::before {
    content: '';
    position: absolute;

    margin-left: -10px;
    margin-top: 40px;
    width: 20px;
    height: 20px;
    background: var(--red);
    border-radius: 50%;
}

    /* SKILLS */

.skills {
        margin-top: 150px;
    }


.tech_stack {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
.tech_stack img {
        /* width: 70px; */
        height: 40px;
        margin: 30px;
    }
    
.tech_stack .tech_stack1 {
        display: block;
        line-height: 2px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
    }
    
.tech_stack1 p {
        font-size: 15px;
    }
    
.tech_stack1 p:hover { 
    color: var(--red);
        
    }

.soft_skills {
        margin-top: 50px;
    }
    
.soft {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    
.soft span {
        color: #000;
        font-size: 15px;
        margin: 3px;
        background-color: #fff;
        border-radius: 50px;
        padding: 5px;
        width: 150px;
        text-align: center;
    }


    /* PROJECTS */
    
.projects_section {
        margin-top: 100px;
}


.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
 
 }
 
    
.cpesd-project{
    display: flex;
    flex-direction: column;
    width: 400px;
    color: #fff;

}

.cpesd-project .cpesd-title {
    font-size: 21px;
   
}

.cpesd-project p {
    margin-top: 25px;
}




.right-projects {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 400px;
    
}

.project {
    width: 100%;
}

.project-img {
    width: 100%;
}


.project h1 {
    color: #fff;
}







.project-logo  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.project-logo img {
    height: 35px;
    margin-right: 20px;
   

}

/* CONTACTS */
.contacts {
    margin-top: 60px;
}

.contact_bottom img {
    height: 50px;
    margin-right: 20px;
    
}
.contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.contact_bottom {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.contact_bottom .contact-content {
    color: #fff;
    display: block;
   
}

.contact-content a {
    color: #9ecaf4;
}

.footer {
    margin-top: 60px;
    height: 50px;
    background-color: #5d5d5d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



@media screen and (max-width:896px) and (min-width:290px) {



    .contact, .toggle-icon {
        display: block;
    }

    /* WELCOME */
    .welcome {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .left-welcome {
        margin-top: -130px;
    }


    /* ABOUT */

    .about {
        display: flex;
        flex-direction: column;
    }
/* 
    SKILLS */

    .tech_stack {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /* PROJECTS */
    


    .projects {
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
    }


    .cpesd-project {
        width: 400px;
       
    }


    .left-projects {
        margin-bottom: 50px;
    }

  

    .contact-box {
        display: grid;
    }

        /* NAVBAR */
    .menu {
        display: none;
    }

    .show {
        display: block;
    }

    .show a {

        color: #000;
    }

    



    .show {
        position: fixed;
        width: 250px;
        height: 100vh;
        background: #fff;
        top: 0;
        right: 0;
        opacity: 0.5;

        

    }



    .show li::after {
        content: '';
    }


    .show li {
 
        margin-left: 50%;
        display: block;
        

    }

    .show a {
        font-size: 20px;
    }

    .show :nth-child(1) {
        margin-top: 100px;
    }

    .toggle-icon :nth-child(2) {
        display: none;
    }

}